<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.movieproject.mapper.PaymentMapper">

    <resultMap id="BaseResultMap" type="com.coco.movieproject.entity.Payment">
            <id property="paymentId" column="payment_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="paymentAmount" column="payment_amount" jdbcType="DECIMAL"/>
            <result property="paymentStatus" column="payment_status" jdbcType="OTHER"/>
            <result property="paymentDate" column="payment_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        payment_id,order_id,payment_amount,
        payment_status,payment_date
    </sql>
</mapper>
