<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.movieproject.mapper.ShowingMapper">

    <resultMap id="BaseResultMap" type="com.coco.movieproject.entity.Showing">
            <id property="showingId" column="showing_id" jdbcType="INTEGER"/>
            <result property="movieId" column="movie_id" jdbcType="INTEGER"/>
            <result property="hallId" column="hall_id" jdbcType="INTEGER"/>
            <result property="showTime" column="show_time" jdbcType="TIMESTAMP"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        showing_id,movie_id,hall_id,
        show_time,price,created_at,
        updated_at
    </sql>
</mapper>
