<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.movieproject.mapper.TicketMapper">

    <resultMap id="BaseResultMap" type="com.coco.movieproject.entity.Ticket">
            <id property="ticketId" column="ticket_id" jdbcType="INTEGER"/>
            <result property="movieName" column="movie_name" jdbcType="VARCHAR"/>
            <result property="showTime" column="show_time" jdbcType="TIMESTAMP"/>
            <result property="cinemaName" column="cinema_name" jdbcType="VARCHAR"/>
            <result property="hallNumber" column="hall_number" jdbcType="INTEGER"/>
            <result property="seatNumber" column="seat_number" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="available" column="available" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ticket_id,movie_name,show_time,
        cinema_name,hall_number,seat_number,
        price,available,created_at,
        updated_at
    </sql>
</mapper>
